[submodule "synclite-logger-java"]
	path = synclite-logger-java
	url = https://github.com/syncliteio/synclite-logger-java
[submodule "synclite-consolidator"]
	path = synclite-consolidator
	url = https://github.com/syncliteio/synclite-consolidator
[submodule "synclite-sample-web-app"]
	path = synclite-sample-web-app
	url = https://github.com/syncliteio/synclite-sample-web-app
[submodule "synclite-cli"]
	path = synclite-cli
	url = https://github.com/syncliteio/synclite-cli
[submodule "synclite-dbreader"]
	path = synclite-dbreader
	url = https://github.com/syncliteio/synclite-dbreader
[submodule "synclite-qreader"]
	path = synclite-qreader
	url = https://github.com/syncliteio/synclite-qreader
[submodule "synclite-job-monitor"]
	path = synclite-job-monitor
	url = https://github.com/syncliteio/synclite-job-monitor
